@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Root Variables */
:root {
  --primary-color: rgb(230, 83, 60);
  --secondary-color: rgba(255, 255, 255, 0.5);
  --background-color: black;
  --text-color: #fff;
  --accent-color: #ff6347;

  --font-family: "Inter", sans-serif;
  /* font-family: "Dancing Script", cursive; */
}

/* Reset some default sty
les */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: black;
  /* background-color: var(--background-color); */
  line-height: 1.6;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  padding-top: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
}

.nav-links {
  display: flex;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}

.nav-links li {
  padding: 8px 20px;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  background: rgb(230, 83, 60);
  font-weight: 600;
  border-radius: 46px;
  padding: 8px 20px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.hero-text {
  width: 50%;
}

.hero-text h2 {
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
}

.hero-text .shape {
  font-family: "Dancing Script", cursive;
}

.hero-text p {
  color: rgba(255, 255, 255, 0.5);
  margin: 28px 0;
  font-size: 16px;
}

.cta {
  display: flex;
  gap: 14px;
}

.btn-primary,
.btn-secondary {
  padding: 16px 40px;
  border-radius: 42px;
  font-size: 18px;
  font-weight: 600;
}

.btn-primary {
  background: rgb(230, 83, 60);
  color: #fff;
}

.btn-secondary {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}

.hero-image {
  position: relative;
  width: 50%;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  padding-left: 135px;
}

.free-workout,
.video-tutorial {
  position: absolute;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.free-workout {
  top: 150px;
  right: 20px;
}

.video-tutorial {
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.circle {
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
}

/* Habits Section */
.habits {
  padding: 2rem 0;
  text-align: center;
  margin-top: 80px;
}
.section-title {
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
}
.section-sub-title {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-top: 14px;
}
.habits-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.habit-item {
  margin: 1rem;
  max-width: 200px;
}

.habit-item img {
  width: 100%;
  border-radius: 50%;
}

.habit-item h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
}
.habit-item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 6px;
  text-align: center;
}
/* Extra Mile Section */
.extra-mile {
  background-color: var(--secondary-color);
  padding: 2rem 0;
  color: var(--text-color);
}



/* Media query for responsiveness */

@media (max-width: 576px) {
  .habits-list,
  .trainings-list,
  .bmi-content,
  .team-list,
  .footer-links {
    align-items: center;
  }
  .hero-text h2 {
    font-size: 38px;
  }

  .training-item {
    width: 100%;
    margin: 0.5rem 0;
  }
  .hero-content {
    flex-direction: column;
    text-align: left;
  }
  .nav-links {
    display: none; /* Hide nav links on smaller screens */
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #333;
    text-align: center;
    z-index: 1000;
  }

  .nav-links li {
    padding: 15px 0;
  }

  .hamburger-menu {
    display: block; /* Show hamburger menu icon on smaller screens */
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
  .hero-text,
  .hero-image {
    width: 100%;
  }

  .hero-text h2 {
    font-size: 58px;
  }

  .hero-image img {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 0px;
  }
  .video-tutorial {
    bottom: 220px;
  }
  .free-workout {
    top: 50px;
    right: 80px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1000;
  }

  .nav-links li {
    padding: 15px 0;
  }

  .hamburger-menu {
    display: block;
  }
  .habits {
    margin-top: 0px;
  }
  .habits-list {
  flex-direction: column;
   
  }
}
