@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Root Variables */
:root {
  --primary-color: rgb(230, 83, 60);
  /* --primary-color: var(--primary-color); */
  --secondary-color: rgba(255, 255, 255, 0.5);
  --background-color: black;
  --text-color: #fff;
  --accent-color: #ff6347;

  --font-family: "Inter", sans-serif;
  /* font-family: "Dancing Script", cursive; */
}

/* Reset some default sty
les */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: black;
  /* background-color: var(--background-color); */
  line-height: 1.6;
}
.section-title {
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
}
.section-sub-title {
  color: var(--secondary-color);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;

  margin-top: 14px;
}
/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  padding-top: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 800;
}

.nav-links {
  display: flex;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}

.nav-links li {
  padding: 8px 20px;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  background: var(--primary-color);
  font-weight: 600;
  border-radius: 46px;
  padding: 8px 20px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.hero-text {
  width: 50%;
}

.hero-text h2 {
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
}

.hero-text .shape {
  font-family: "Dancing Script", cursive;
}

.hero-text p {
  color: var(--secondary-color);
  margin: 28px 0;
  font-size: 16px;
}

.cta {
  display: flex;
  gap: 14px;
}

.btn-primary,
.btn-secondary {
  padding: 16px 40px;
  border-radius: 42px;
  font-size: 18px;
  font-weight: 600;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-secondary {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}

.hero-image {
  position: relative;
  width: 50%;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  padding-left: 135px;
}

.free-workout,
.video-tutorial {
  position: absolute;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.free-workout {
  top: 150px;
  right: 20px;
}

.video-tutorial {
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.circle {
  width: 40px;
  height: 40px;
  background: var(--primary-color);
  border-radius: 50%;
}

/* Habits Section */
.habits {
  padding: 2rem 0;
  text-align: center;
  margin-top: 80px;
}

.habits-list {
  display: flex;
  justify-content: space-around;
  
  margin-top: 50px;
}

.habit-item {
  margin: 1rem;
  max-width: 200px;
}

.habit-item img {
  width: 100%;
  border-radius: 50%;
}

.habit-item h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
}
.habit-item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  color: var(--secondary-color);
  margin-top: 6px;
  text-align: center;
}
/* Extra Mile Section */
.extra-mile {
  border-radius: 18px;
  background: rgb(34, 34, 34);
  padding: 40px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.extra-mile-content button {
  margin-top: 34px;
}
.extra-mile-content h2 {
  max-width: 300px;
}

.extra-mile-image img {
  width: 366px;
  height: 312px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

/* BMI Calculator Section */
.bmi-calculator {
    padding: 2rem 0;
    color: #fff; /* White text color */
    text-align: center;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.section-sub-title {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #b5b5b5;
}
.bmi{
 background-color: #1c1c1c; /* Dark background color */
    margin-top: 50px;
}
.bmi-content {
   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
}

.bmi-chart,
.bmi-form {
    padding: 2rem;
    border-radius: 8px;
    width: 48%;
   
}

.bmi-chart h3,
.bmi-form h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.bmi-chart table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.bmi-chart th {
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
    padding: 0.75rem;
}

.bmi-chart td {
    padding: 0.75rem;
    color: var(--secondary-color);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.bmi-form .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.bmi-form input,
.bmi-form select {
    width: 48%;
    padding: 0.75rem;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

.bmi-form .activity-select {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}
.bmi-form button{
  text-align: left;
}

.btn-primary:hover {
    background-color: #e64a19;
}


/* Team Section */
.team {
    padding: 2rem 0;
    text-align: center;
    background-color: #000;
}

.team h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
}

.team p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #bbb;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.team-member {
    width: calc(33.333% - 1rem);
    max-width: 300px;
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.image-container img {
    width: 100%;
   height: 272px;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
   
    color: #fff;
    text-align: left;
}

.overlay h3 {
    margin: 0;
    font-size: 1.2rem;
}

.overlay p {
    margin: 0;
    font-size: 1rem;
    color: #ccc;
}

.membership{
  padding: 80px 0px;
}
.membership-header {
    text-align: center;
    margin-bottom: 30px;
}

.membership-header h1 {
    font-size: 2rem;
    
}

.membership-header p {
    font-size: 1rem;
    color: #666;
}

.membership-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    max-width: 350px;
}

.black-card {
   background: var(--primary-color);
    color: white;
}

.classic-card {
    background-color: #ffffff;
    color: #333;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.price {
    font-size: 2.5rem;
    margin: 10px 0;
}

.price span {
    font-size: 1rem;
}

.info {
    color: #999;
    margin-bottom: 20px;
}

.benefit {
    font-size: 1rem;
    margin-bottom: 20px;
}

.learn-more, .join-now {
    display: inline-block;
    margin: 5px 0;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.learn-more {
    background-color: transparent;
    color: inherit;
    border: 2px solid #fff;
}

.join-now {
    background-color: black;
    color: #333;
    border: none;
}

.black-card .learn-more {
    border: 2px solid #fff;
}

.black-card .join-now {
    background-color: transparent;
    color: #333;
     border: 2px solid black;
}

.classic-card .learn-more {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.classic-card .join-now {
    background: var(--primary-color);
    color: #fff;
}

.membership-footer {
    font-size: 0.8rem;
    color: #666;
    margin-top: 30px;
    text-align: center;
}


/* Footer */
footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 2rem 0;
}



.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:140px;
}

.footer-logo {
    flex: 1;
    margin-bottom: 1.5rem;
}

.footer-logo h1 {
    font-size: 2rem;
    color: #FF3E00; /* Matches the red in the image */
    margin-bottom: 1rem;
}

.footer-logo p {
    font-size: 0.9rem;
    color: #bbb;
    max-width: 400px;
}

.footer-links {
    display: flex;
   flex:2;
     gap:140px;
    
    justify-content: space-between;
  
}

.footer-links div {
    flex: 1;
}

.footer-links h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #fff;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 0.5rem;
}

.footer-links ul li a {
    color: #bbb;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #333;
}

.footer-bottom p {
    font-size: 0.8rem;
    color: #bbb;
}
/* Responsive adjustments */
@media (max-width: 768px) {
    .bmi-content {
        flex-direction: column;
        align-items: center;
    }

    .bmi-chart,
    .bmi-form {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .bmi-form .form-row {
        flex-direction: column;
    }

    .bmi-form input,
    .bmi-form select {
        width: 100%;
        margin-bottom: 1rem;
    }
}
/* Responsive Design */
@media (max-width: 768px) {
    .team-member {
        width: calc(50% - 1rem);
    }
}

@media (max-width: 480px) {
    .team-member {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .membership-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 90%;
    }
}
/* Responsive Design */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .footer-links div {
        margin-bottom: 1.5rem;
    }

    .footer-logo {
        margin-bottom: 2rem;
    }
}

@media (max-width: 576px) {
    .footer-links {
        gap: 1rem;
    }

    .footer-links div {
        width: 100%;
    }
}

/* Media query for responsiveness */

@media (max-width: 576px) {
  .habits-list,
  .trainings-list,
  .bmi-content,
  .team-list,
  .footer-links {
    align-items: center;
  }
  .hero-text h2 {
    font-size: 38px;
  }
.extra-mile{
  flex-direction: column;
 
}

.extra-mile-image img {
  width: 100%;
  
}
.image-container img {
  width: 100%;
}
  .training-item {
    width: 100%;
    margin: 0.5rem 0;
  }
  .hero-content {
    flex-direction: column;
    text-align: left;
  }
  .nav-links {
    display: none; /* Hide nav links on smaller screens */
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #333;
    text-align: center;
    z-index: 1000;
  }

  .nav-links li {
    padding: 15px 0;
  }

  .hamburger-menu {
    display: block; /* Show hamburger menu icon on smaller screens */
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
  .hero-text,
  .hero-image {
    width: 100%;
  }

  .hero-text h2 {
    font-size: 58px;
  }

  .hero-image img {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 0px;
  }
  .video-tutorial {
    bottom: 220px;
  }
  .free-workout {
    top: 50px;
    right: 80px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1000;
  }

  .nav-links li {
    padding: 15px 0;
  }

  .hamburger-menu {
    display: block;
  }
  .habits {
    margin-top: 0px;
  }
  .habits-list {
    flex-direction: column;
  }
}
